.contactsBlock {
    height: 100vh;
    background-color: #acfc65;
}

.contactsContainer {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid black;
    width: 60%;
    height: 40%;
    padding: 2px;
}

.form input {
    margin-bottom: 10px;
}

.form textarea {
    height: 100%;
}

.contactsContainer button {
    width: 150px;
    height: 40px;
}