.block {
    background-color: #ff7f4d;
}

.container {
    display: flex;
    flex-direction: column;
    height: 120px;
}

.container h3 {
    margin-top: 5px;
}

.container button {
    width: 150px;
    height: 40px;
}