@import "../../common/styles/sass/mixins.scss";
@import "../../common/styles/sass/variables";
@import "../home/Home.module";

.wrapper {
  @include pageAppearance();
  height: 100vh;
  display: flex;
  flex-direction: column;

  .contactsContainer {
    @include flex(row, center, space-around);
    width: 100%;
    margin-bottom: 5%;
    flex-grow: 1;
    @media screen and (max-width: 990px) {
      flex-direction: column;
    }

    .contacts {
      @include flex(column, flex-start, center);
      width: 25%;
      margin-right: 20px;
      @media screen and (max-width: 990px) {
        display: none;
      }

      .title {
        @include text(('Poppins', sans-serif), 26px, 600, 1.2);
        padding-bottom: 1rem;
        margin-bottom: 0;
        margin-top: 0;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
      }

      .description {
        @include text(('Open Sans', sans-serif), 15px, 500, 1.6);
        margin-bottom: 1rem;
        margin-top: 0;
      }

      .infoWrapper {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        .contactInformation {
          display: flex;
          flex-direction: column;
          margin-left: 15px;

          .contact {
            @include text(('Open Sans', sans-serif), 15px, 400, 21px);
            opacity: .8;
          }

          .contactInfo {
            @include text(('Open Sans', sans-serif), 15px, 600, 21px);
            text-decoration: none;
            padding-top: 5px;
          }
        }

        .icon {
          font-size: 33px;
        }
      }
    }

    .form {
      @include flex(column, flex-start, center);
      @include text(('Poppins', sans-serif), 15px, 500, 1.6);
      width: 60%;
      @media screen and (max-width: 990px) {
        width: 50%;
        @include text(('Poppins', sans-serif), 11px, 400, 1.6);
      }

      .formArea,
      .messageArea {
        background-color: #252525;
        border-radius: 30px;
        color: $textColor;
        padding: 12px 26px;
        border: 1px solid #111;
        outline: none;
        margin: 0 0 20px 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        box-sizing: border-box;

        &:-webkit-autofill {
          color: $textColor;
          border: 1px solid #111;
          -webkit-box-shadow: 0 0 0 1000px #242424 inset;
          -webkit-text-fill-color: $textColor;
          transition: background-color 5000s ease-in-out 0s;
        }
      }

      .formArea {
        width: 100%;
        position: relative;
        min-width: 125px;
      }

      .messageArea {
        width: 100%;
        transition: .2s;
        resize: vertical;
        min-height: 120px;
      }

      .btn {
        width: 170px;
        padding: 0 40px;
        overflow: hidden;
        letter-spacing: 0.5px;
        cursor: pointer;
        text-align: center;
        border-radius: 26px;
        border: none;
        transition: 1s;
        margin-top: 20px;
        @include text(('Poppins', sans-serif), 16px, 600, 46px);

        &:focus {
          outline: none;
        }

        &:disabled {
          opacity: 0.5;
        }

        &:hover {
          box-shadow: $blockShadow;
        }

        .send {
          transition: 0.3s;
        }

        .btnIcon {
          position: absolute;
          opacity: 0;
          transition: 0.3s;
        }

        @media screen and (min-width: 990px) {
          &:hover .btnIcon {
            opacity: 1;
          }
          &:hover .send {
            padding-right: 15px;
          }
        }
      }
    }
  }
}