@import "../../common/styles/sass/variables";

.header {
  width: 100%;
  position: relative;
  padding: 25px 0;
  text-align: center;

  .frontTitle {
    font-size: 56px;
    font-weight: 900;
    line-height: 1.2;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    @media screen and (max-width: 990px) {
      font-size: 25px;
    }
  }

  .backTitle {
    font-size: 110px;
    left: 0;
    letter-spacing: 10px;
    position: absolute;
    right: 0;
    top: 50%;
    font-weight: 900;
    transform: translateY(-50%);
    color: $textColor;
    opacity: 0.07;
    @media screen and (max-width: 990px) {
      font-size: 50px;
    }
  }
}


