.worksBlock {
    min-height: 100vh;
    background-color: #9181c6;
}

.worksContainer {
    align-items: flex-start;
    justify-content: center;
}

.title {
    background-color: #9f9e9e;
}

.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}