.skillsContainer {
    flex-direction: column;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skills div {
    flex: 25%;
}

.title {
    padding-bottom: 22px;
    font-size: 26px;
    font-weight: 600;
    margin: 0;
    line-height: 1.2;
    font-family: 'Poppins', sans-serif;

}