.preloader {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #333333;
    z-index: 500;
    transition: 1s;
}

.onLoad {
    transition: 1s;
    top: 100%;
}