@import "./variables";

@mixin text($fontFamily, $fontSize, $fontWeight, $lineHeight) {
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: $textColor;
}

@mixin flex($flexDirection, $alignItems, $justifyContent) {
  display: flex;
  flex-direction: $flexDirection;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

@mixin hide() {
  @media screen and (max-width: 990px) {
    display: none;
  }
}

@mixin burgerMenuLine($content: null, $top: null) {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: $textColor;
  content: $content;
  top: $top;
}

@mixin pageAppearance() {
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  animation: fade-in 1.8s backwards;
}