.wrapper {
    z-index: 10;
}
.color {
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #131313;
}
.menu, .menuActive {
    position: fixed;
    right: 0;
    top: 5px;
    z-index: 99;
    min-width: 20%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #222222;
    transition: 1s;
    font-size: 25px;
    box-shadow: 0 0 8px black;
    border-radius: 5px;
}

.menu {
    transform: translateX(100%);
}

.checkbox {
    display: none;
}

.label {
    position: absolute;
    left: -40px;
}

.fake {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border: 2px solid #5b5b5b;
    position: relative;
    border-radius: 20%;
    background-color: #282727;
    opacity: 1;
    text-align: center;
    font-weight: bolder;
    box-shadow: 0 0 8px black;
    transition: 1s;
}