.wrapper {
    z-index: 10;
    position: fixed;
}
.color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 3px;
    cursor: pointer;
}
.menu, .menuActive {
    position: fixed;
    right: 0;
    top: 1%;
    z-index: 99;
    width: 25%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #222222;
    transition: 1s;
    font-size: 25px;
    box-shadow: 0 0 8px black;
    border-radius: 5px;

}

.menu {
    transform: translateX(100%);
}

.checkbox {
    display: none;
}

.label {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: -35px;
}

.fake {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border: 2px solid #5b5b5b;
    position: relative;
    margin: 3px;
    border-radius: 20%;
    background-color: #282727;
    opacity: 1;
    text-align: center;
    font-weight: bolder;
    box-shadow: 0 0 8px black;
    transition: 1s;
}

.checkbox:checked + .fake::before {
    transform: rotate(135deg);
    top: 36%;
    left: 12%;
}