@import "../../common/styles/sass/mixins";

.wrapper {
  @include pageAppearance();
  height: 100vh;
  display: flex;
  flex-direction: column;

  .worksContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
  }
}


